@charset "UTF-8";

@font-face{
    font-family: "BugFont";
    src: url("imagens/fontes/idroid.otf");
}

header{
    display: block;
    background-color: green;
    color: white;
    width: 1500px;
}

nav{
    display: block;
}
nav > ul{
    list-style: none;
    display: inline-block;
    margin: 10px;
}

nav > li {
    display: inline-block;
    padding: 10px;
    margin: 4px 0px;
    transition: background-color 1s;
}

body{
    width: 850px;
    margin: auto;
    background-color: #84E1AD;
}

main{
    background-color: white;
}